
<div class = 'form'>
<h2>Create new Mountain</h2>

  <form action="/mountains" method="post">
Name: <input type="text" name="name" autofocus required>
Location Country: <input type="text" name="country">
Height : <input type="text" name="height">
Image : <input class="url" type="url" name="image">
Climbing Season : <input type="text" name="intro">

<button>CREATE</button>
</form>
</div>
